[ ca ]
default_ca	= ca_ca

[ client_ca ]
dir             = .
certs           = $dir/user
crl_dir         = $dir/crl
database        = $dir/index.txt
new_certs_dir   = $dir/user/newcerts
certificate     = $dir/ca/ca-crt.pem
serial          = $dir/serial
crl             = $dir/crl/crl.pem
private_key     = $dir/ca/ca-key.pem
RANDFILE        = $dir/.rand
x509_extensions = client_cert
default_days    = 365
default_crl_days= 30
default_md      = sha1
preserve        = no
policy          = policy_client

[ server_ca ]
dir             = .
certs           = $dir/server
crl_dir         = $dir/crl
database        = $dir/index.txt
new_certs_dir   = $dir/server/newcerts
certificate     = $dir/ca/ca-crt.pem
serial          = $dir/serial
crl             = $dir/crl/crl.pem
private_key     = $dir/ca/ca-key.pem
RANDFILE        = $dir/.rand
x509_extensions = server_cert
default_days    = 365
default_crl_days= 30
default_md      = sha1
preserve        = no
policy          = policy_server

[ ca_ca ]
dir             = .
certs           = $dir/ca
crl_dir         = $dir/crl
database        = $dir/index.txt
new_certs_dir   = $dir/ca/newcerts
certificate     = $dir/ca/ca-crt.pem
serial          = $dir/serial
crl             = $dir/crl/crl.pem
private_key     = $dir/ca/ca-key.pem
RANDFILE        = $dir/.rand
x509_extensions = v3_ca
default_days    = 3650
default_crl_days= 30
default_md      = sha1
preserve        = no
policy          = policy_ca

[ policy_client ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_server ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_ca ]
countryName             = optional
stateOrProvinceName     = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
default_bits		= 4096
default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
attributes		= req_attributes
x509_extensions	= v3_ca	
string_mask = nombstr
req_extensions = v3_req

[ req_distinguished_name ]
countryName			= Country Name (2 letter code)
countryName_default		= CZ
countryName_min			= 2
countryName_max			= 2
stateOrProvinceName		= State or Province Name (full name)
stateOrProvinceName_default	= Czech Republic
localityName			= Locality Name (eg, city)
localityName_default		= Pardubice
0.organizationName		= Organization Name (eg, company)
0.organizationName_default	= Medoro s.r.o.
organizationalUnitName		= Organizational Unit Name (eg, section)
organizationalUnitName_default  = CA
commonName			= Common Name (eg, YOUR name)
commonName_default		= Jaroslav Barton
commonName_max			= 64
emailAddress			= Email Address
emailAddress_default		= barton@medoro.org
emailAddress_max		= 40

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[ req_attributes ]
challengePassword		= A challenge password
challengePassword_min		= 4
challengePassword_max		= 20
unstructuredName		= An optional company name

[ client_cert ]
basicConstraints	= CA:FALSE
nsCertType		= client, email
nsComment		= "Medoro s.r.o. Certificate"
keyUsage		= nonRepudiation, digitalSignature, keyEncipherment
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid,issuer:always
subjectAltName		= email:copy
issuerAltName		= issuer:copy
nsCaRevocationUrl	= http://ca.medoro.org/client.crl

[ server_cert ]
basicConstraints	= CA:FALSE
nsCertType		= server
nsComment		= "Medoro s.r.o. Certificate"
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid,issuer:always
subjectAltName		= email:copy
issuerAltName		= issuer:copy
nsCaRevocationUrl       = http://ca.medoro.org/server.crl

[ v3_ca ]
nsComment		= "Medoro s.r.o. Certificate"
subjectKeyIdentifier	= hash
authorityKeyIdentifier	= keyid:always,issuer:always
basicConstraints	= critical,CA:true
keyUsage		= keyCertSign, cRLSign
nsCertType		= sslCA, emailCA
subjectAltName		= email:copy
issuerAltName		= issuer:copy
nsCaRevocationUrl       = http://ca.medoro.org/ca.crl

[ crl_ext ]
authorityKeyIdentifier	= keyid:always,issuer:always
